<!-- {{}} can contain any javascript function -->


<div id="side_bar">
  <img id="side_background" src="assets/static/backgrounds/circuit_board_brown.png">
  <div id="side_profile">
    <img id="profile_picture" src="assets/static/profile_picture_head.png" alt="Zachary Stewart, Profile Picture">

    <h1 id="profile_name">{{ getProfileName() }}</h1>

    <div id="profile_description" [innerHTML]="personal_description"></div>

    <div id="profile_socials">
      <a href="{{ linkedin_url }}" target="_blank" rel="noopener noreferrer">
        <img src="assets/static/icons/linkedin_logo_icon.png" alt="Zachary Stewart Linkedin">
      </a>
      <a href="{{ github_url }}" target="_blank" rel="noopener noreferrer">
        <img src="assets/static/icons/github_logo_icon.png" alt="Zachary Stewart Github">
      </a>
      <a href="{{ myspace_url }}" target="_blank" rel="noopener noreferrer">
        <img src="assets/static/icons/myspace_logo_icon.png" alt="Zachary Stewart MySpace">
      </a>
    </div>
  </div>
</div>

<!-- <p class="blue text-xl font-thin underline bg-yellow-200 m-4 p-4 rounded-full">
  Hello world!
</p> -->

<!-- <p>{{ title }}</p>
<p>{{ getProfileName() }}</p>
<div></div> -->

<!-- <p>{{ values }}</p> -->
<!-- <p>Total: {{ values.length }}</p> -->

<!-- <ul style="margin: 20px;"> -->
  <!-- Called a directive -->
  <!-- ngFor is used to list elements -->
  <!-- ngFor should have an * in front a directive if the directive adds or removes an element from the page making it *ngFor -->
  <!-- <li *ngFor="let value of values"> -->
    <!-- {{ value }} -->
  <!-- </li> -->
<!-- </ul> -->
