<!-- {{}} can contain any javascript function -->


<div id="side_profile"></div>

<p class="blue text-xl font-thin underline bg-yellow-200 m-4 p-4 rounded-full">
  Hello world!
</p>

<!-- <p>{{ title }}</p>
<p>{{ getProfileName() }}</p>
<div></div> -->

<!-- <p>{{ values }}</p> -->
<!-- <p>Total: {{ values.length }}</p> -->

<!-- <ul style="margin: 20px;"> -->
  <!-- Called a directive -->
  <!-- ngFor is used to list elements -->
  <!-- ngFor should have an * in front a directive if the directive adds or removes an element from the page making it *ngFor -->
  <!-- <li *ngFor="let value of values"> -->
    <!-- {{ value }} -->
  <!-- </li> -->
<!-- </ul> -->
